# Eclipse
bin/
*.launch
.settings/
.metadata/
.classpath
.project

# IntelliJ IDEA
out/
*.ipr
*.iws
*.iml
.idea/

# Gradle
build/
.gradle/

# VSCode
.vscode/

# Minecraft dev runtime
run/
runs/
run-data/

# Other
eclipse/
repo/
